.dashboard-box{
    display:inline-block;
    border-radius: 5px;
    height:200px;
    width:100%;
}

.tile-texts{
    color:white;
}

.tile-area{
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.tile-overlay{
    position:absolute;
    color:white;
    background-color:rgba(0,0,0,0.4);
    font-size:55px;
    width:260px;
    top:127px;
    border-radius: 0px 0px 6px 6px;
}

.crmstile{
    background: url('../img/tile-crms.jpg') no-repeat -60px -17px;
}
.wmstile{ 
    background: url('../img/wms.jpg') -90px;
}
.oestile{
    background: url('../img/tile-oes.jpg') -80px -10px;
}
.mrptile{
    background: url('../img/MRP.jpg');
}
.tmstile{
    background: url('../img/TMS.jpg') -30px;
}
.grnstile{
    background: url('../img/tile-grns.jpg');
}

.row-fluid>.col-md-4{
    padding:5px;
}


.highlight {
    -webkit-box-shadow: 0 0 5px #444;
    -moz-box-shadow: 0 0 5px #444;
    box-shadow: 0 0 5px #444;
    cursor:pointer;
}

