.dashboard-box{
    margin:5px;
    display:inline-block;
}
.dashboard-content{
    text-align: center;
    margin:50px 0px 80px 0px;
}
/*.dashboard-box:hover{
    background:#cecece;
}*/

.highlight {
    -webkit-box-shadow: 0 0 5px #444;
    -moz-box-shadow: 0 0 5px #444;
    box-shadow: 0 0 5px #444;
    cursor:pointer;
}