.bg-img{
    background: url('../img/bgimgcargocrop_1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
/*    -webkit-filter:blur(2px);*/
     min-height: 1000px;
}

.login-box{
    float:right;
    background-color: rgba(245,245,245,0.3);
    border-radius: 10px;
    padding-bottom: 20px;
    margin-top:45px;
}

.bg-img > .wrapper > .login-nav{
    background-color:rgba(20,0,0,0.2);
}

.login-box > h2{
    color:#555;
}

.some-quote-box{
    position:absolute;
    bottom:60px;
    left:6%;
    position:fixed;
}
.some-quote-box h2{
    font-family:Century Gothic;
    font-size:15pt;
    color:#000;
    background:rgba(255,255,255,0.4);
    padding:3px;
}