.bg-img{
    background:url("http://www.choosemontgomerymd.com/images/photos/transportation_image.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
/*    -webkit-filter:blur(2px);*/
    min-height: 1000px;
}

.login-box{
    float:right;
}

.bg-img > .wrapper > .login-nav{
    background-color:rgba(20,0,0,0.2);
}

.login-box > h2{
    color:#ffffee;
}

.some-quote-box{
    position:absolute;
    bottom:100px;
    left:10%;
}
.some-quote-box h2{
    font-family:Century Gothic;
    font-size:15pt;
    color:#666;
    background:rgba(255,255,255,0.4);
    padding:3px;
}