.form-control-spacing{
    margin-top:5px;
    margin-bottom:5px;
}

.pointer{
    cursor:pointer;
}

.input-addon-fixedwidth{
    width:120px;
}
.service-image{
    width:500px;
    height:auto;
}
.service-title{
    font-family:Century Gothic, sans-serif;
    font-size:24pt;
    color:#ababab;
}
h4.service-cost{
    font-size:35pt;
    font-family:Arial;
    color:#bbb;
}


.alert-default{
    background-color:#bababa;
    border-color: #aaa;
    cursor:pointer;
}

.alert-purple{
    background-color:#dbd9f7;
    color: #50318f;
    border-color: #dfbcf1;
}

.alert-blue{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-orange{
    color: #8f5f31;
    background-color: #f9efcb;
    border-color: #f1e0bc;
}
.alert-green {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-yellow {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.font-brightred{
    color:#ED2E38;
}

h2.roleTitle{
    font-size:12pt;
}

.spacing{
    margin-top:5px;
    margin-bottom:5px;
}
.rights-btn{
    min-width:400px;
}
.rights-item{
    font-family: Arial;
    font-weight:400;
    font-size:12pt;
    padding:8px;
}
ul.rights-menu li{
    min-width:400px;
}

.loader{
    width:16px;
    height:auto;
}