.form-control-spacing{
    margin-top:5px;
    margin-bottom:5px;
}
.input-addon-fixedwidth{
    width:120px;
}
.service-image{
    width:500px;
    height:auto;
}
.service-title{
    font-family:Century Gothic, sans-serif;
    font-size:24pt;
    color:#ababab;
}
h4.service-cost{
    font-size:35pt;
    font-family:Arial;
    color:#bbb;
}