.ui-widget-header:nth-child(1){
    background:white;
    border:none;
    text-align: right;
    margin-bottom:10px;
}
//shift to merlionportal.css
/*.ui-state-default{
    border-radius: 0px;
    -webkit-border-radius: 0px;
}*/